@{
    ViewBag.Title = "Home Page";
}


<br />
<br />
<div class="container card card-header">

    <div class="row" style="padding:30px;">
        <div class="col-sm-12">

            @if (Html.Raw(TempData["msgAlert"]).ToString() == "N")
            {
                <div class="alert alert-warning alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h4 class="text-center">@Html.Raw(TempData["msgAlertDetails"]).ToString().</h4>
                </div>


            }

            @if (Html.Raw(TempData["msgAlert"]).ToString() == "NotAuthorized")
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    <h4 class="text-center">Sorry! You are not an authorized user.</h4>
                </div>
            }
        </div>
        <div class="col-sm-4">

            <img src="~/Content/Images/Web/logo.png" class="col-sm-12" />

        </div>

        <div class="col-sm-8">
            <h3>Admin Login</h3>

            <form action="@Url.Action("UserLogin", "Security")" method="post" role="form">
                <div class="form-group">
                    <label for="email">Email or Phone:</label>
                    <input type="text" class="form-control" id="EmailPhone" name="EmailPhone">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="Password" name="Password">
                </div>

                <button type="submit" class="btn btn-default" style="min-width:150px;">Login</button>
            </form>

        </div>
    </div>
           
      


</div>
